pandas
matplotlib
seaborn
openpyxl
camel-tools
requests
fastapi
uvicorn[standard]
pydantic
python-dotenv
streamlit
notebook
jupyterlab
ipykernel

bertopic
sentence-transformers
umap-learn
hdbscan
gensim
scikit-learn
numpy
scipy
