# Data handling and ML
pandas~=2.3.2
matplotlib>=3.5.0
openpyxl
scikit-learn~=1.3.0

# Core logic & APIs
requests>=2.32
fastapi>=0.112
uvicorn[standard]>=0.30
pydantic>=2.7
python-dotenv>=1.0

# Frontend
streamlit>=1.36

# Jupyter & Notebooks
notebook
jupyterlab
ipykernel